body {
    width: 80%;
    margin: auto;
}

.content {
    background-color: #373833;
    color: #E8EAE3;
}

nav {
    background-color: #E8EAE3;
}

.btn {
    background-color: #FA2742;
    border: 1px solid #FA2742;
}

.btn:link {
    background-color: #FA2742;
    color: #E8EAE3;
}
.btn:visited {
  background-color: yellow;
  color: hotpink;
}
.btn:hover {
    background-color: #373833;
    border: 1px solid #FA2742; 
}

a {
    color: #E8EAE3;
}

a:link {
    text-decoration: none;
    color: none;
}
a:visited {
    color: #373833;
}

a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #E8EAE3;
}
a:active {
    color: #FA2742;
}

.carousel {
    width: 600px;
    height: 400px;
}
footer {
    background-color: #E8EAE3;
    color: #373833;
    margin-bottom: 5px 0;
    padding-bottom: 2%;
}
.jumbotron {
    background-image: url("../images/coldcuts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}   

header {
    color: ghostwhite;
}
header h1 {
    font-size: 75px;
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px #373833;
}
header h4 {
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px #373833;
}
header h5 {
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px #373833;
}

.text-uppercase {
    color: #FA2742;
}
